body,p,h1{
    background-color: lightblue;
    font-family: sans-serif;
}
header,main{
    background-color: white;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
h1,p{
    color: rgb(39, 38, 38);
    background-color: white;
    margin-left: 25px;
}
p{
    color: rgb(32, 11, 80);
    border-bottom: 2px solid black;
}

